<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect" stopProcessing="true">
                    <match url="products/*" />
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
         <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/x-font-otf" />
      <mimeMap fileExtension=".otf" mimeType="application/json" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>